.DayPicker_transitionContainer {
  overflow: scroll !important;
}

.DateRangePicker_picker  {
  position: relative !important;
  order: 10;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  margin: 15px auto 0;
}

.DayPicker_transitionContainer, .DayPicker_transitionContainer_1, .DayPicker_transitionContainer__vertical, .DayPicker_transitionContainer__vertical_2 {
  overflow: scroll !important;
}

.DayPickerNavigation_button {
  display: none !important;
}
.DayPickerNavigation {
  display: none !important;
}

.DateRangePickerInput {
  display: flex !important;
  flex-wrap: wrap;
}

.DateInput, .DateInput_1, .DateInput_1 {
  width: 50% !important;
  background: transparent !important;
  margin-bottom: 15px;
}

.DateRangePickerInput_arrow, .DateRangePickerInput_arrow_1 {
  display: none !important;
}

.DateInput input, .DateInput_1 input {
  padding: 11px 13px;
  border-radius: 10px;
  border: 2px solid #6D9773;
  background: #FFF;

  color: #9DA9B7;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.DateInput:first-child {
  padding-right: 4px;
}

.DateInput:nth-child(4) {
  padding-left: 4px;
}

.DateInput input::placeholder, .DateInput_1 input::placeholder {
  color: #9DA9B7;
}

.DateRangePickerInput__withBorder {
  border: none !important;
}

.DateInput_fang {
  display: none;
}

.DateInput:first-child input, .DateInput:first-child input::placeholder {
  color: #9DA9B7;
}
.date-range-picker-wrapper-startDate {
  .DateInput:nth-child(4) input, .DateInput:nth-child(4) input::placeholder {
    color: #9DA9B7;
  }
  .DateInput:first-child input, .DateInput:first-child input::placeholder {
    color: #0C131D;
  }
}

.date-range-picker-wrapper-endDate {
  .DateInput:nth-child(4) input, .DateInput:nth-child(4) input::placeholder {
    color: #0C131D;
  }
  .DateInput:first-child input, .DateInput:first-child input::placeholder {
    color: #9DA9B7;
  }
}

.DateRangePickerInput {
  background: transparent !important;
}

.CalendarMonth, .CalendarMonth_1 {
  border-radius: 10px;
  background: #FFF;
}

.CalendarMonthGrid {
  background: transparent;
}

.DayPickerKeyboardShortcuts_buttonReset {
  display: none;
}

.DateRangePicker_picker, .DayPicker {
  background: transparent !important;
  box-shadow: none !important;
}

.CalendarMonthGrid {
  border-radius: 10px !important;
  background: transparent !important;
  margin-top: 40px !important;
}

.DayPicker_weekHeader {
  top: 0 !important;
  padding: 13px !important;
  border-radius: 10px 10px 0 0 !important;
  background: #FFF !important;
}

.CalendarMonthGrid_month__hideForAnimation {
  padding-top: 42px !important;
}

.CalendarMonthGrid > div:nth-child(2) > div {
  border-radius: 0 0 10px 10px !important;
}

.DayPicker_weekHeader_li, .DayPicker_weekHeader_li_1 {
  color: #9EA9B7;
  text-align: center;

  font-size: 11px !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.DayPicker_weekHeader_li:nth-child(6), .DayPicker_weekHeader_li:nth-child(7),  .DayPicker_weekHeader_li_1:nth-child(6), .DayPicker_weekHeader_li_1:nth-child(7) {
  color: #0C131D;
}

.CalendarMonth_caption, .CalendarMonth_caption_1 {
  padding-top: 15px !important;
  padding-bottom: 12px !important;
  padding-left: 4px !important;
  text-align: left !important;
  color: #0C131D;

  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.CalendarDay__default {
  border: none !important;
  vertical-align: middle;
}

.CalendarMonthGrid > div {
  margin-bottom: 10px !important;
}


.CalendarDay__selected_span {
  background: #DAF50F !important;
  color: #0C131D !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.CalendarDay__default {
  color: #0C131D !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  background: #DAF50F !important;
  color: #0C131D !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
  position: relative;
  background: #DAF50F !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF !important;
}

.CalendarDay__selected::before, .CalendarDay__selected:active::before, .CalendarDay__selected:hover::before {
  content: '';
  position: absolute;
  color: #FFF !important;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #006659; /* Цвет подложки */
  border-radius: 10px;
  z-index: -1;
}

.CalendarDay__selected_start {
  border-radius: 10px 0 0 10px !important;
}


.CalendarDay__selected_end {
  border-radius: 0 10px 10px 0 !important;

}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
  position: relative;
  z-index: 0;
}