@import '~react-dates/lib/css/_datepicker.css';
@import './datePicker';
@import './Popup';
@import './home';
@import './animation';

@import './reset';

@font-face {
  font-family: 'Clash Grotesk';
  src: url('../assets/fonts/ClashGrotesk-Variable.ttf') format('truetype');
  font-weight: 100 900; /* Задает диапазон значений веса */
  font-style: normal;
}

body, input, button {
  font-family: 'Clash Grotesk', sans-serif;
}

.light-weight {
  font-weight: 300;
}

.regular-weight {
  font-weight: 400;
}

.semi-bold-weight {
  font-weight: 600;
}

.bold-weight {
  font-weight: 700;
}
