.header-icon-button {
  display: flex;
  padding: 11px 12px;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  border-radius: 10px;
  background: #FFF;

  color: #05291D;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s ease-out;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.header-icon-button-dates {
  flex: 4;
  max-width: 100px;
}

.header-icon-button-dates-selected {
  max-width: max-content;
}

.header-icon-button-profile {
  flex: 2;
  min-width: 115px;
}

.header-icon-button-citizenship {
  flex: 2;
  min-width: 80px;
}

.header-icon-button-citizenship-selected {
  min-width: 60px;
  max-width: 60px;
}

.header-icon-button:hover {
  opacity: 0.9;
}

.header-wrapper {
  padding: 20px 22px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #006659;
  border-radius: 0 0 20px 20px;
  position: sticky;
  top: 0;
  margin: 0 auto;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  max-width: 100vw;
}

.header-wrapper > * {
  max-width: 400px;
}

.header-logo {
  margin-bottom: 40px;
  height: 20px;
}

.header-title {
  color: #FFF;
  font-style: normal;
  font-size: 30px;
  line-height: 36.9px;
  text-align: center;
  margin-bottom: 4px;
}

.header-subtitle {
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header-icon-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  justify-content: space-between;
}

.home-wrapper {
  height: auto;
  overflow: hidden;
  background: #F7F9F9;
}

.layout {
  background: #F7F9F9;
}

.layout-converter {
  background: #EEEFF3;
}

.home-wrapper .tab-switcher {
  margin-top: 20px;
}

.home-wrapper__scrolled {
  padding-top: 258px;
}

.divider {
  width: 1px;
  height: 16px;
  background: #CDD4DE;
}

.header-icon-buttons-selected-dates {
  display: flex;
  gap: 4px;
  align-items: center;
}

.header-wrapper-logo-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.header-logo-helper-link {
  cursor: pointer;
}

.header-logo-helper-link:hover {
  opacity: 0.9;
}

.home-wrapper-is-result {
  background: #EEEFF3;
  overflow: scroll;

  .header-wrapper-logo-wrapper {
    display: none;
  }
  .header-wrapper {
    padding: 14px 21px 10px;
  }

  .tab-switcher {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .header-logo {
    width: 56px;
  }

  .city-input-container {
    margin-top: 0;
  }

  .city-input {
    height: 49px;
    padding: 8px 42px 8px 44px;
  }

  .suggestions-list {
    width: calc(100% - 42px);
  }
}

.home-wrapper-converter {
  margin-bottom: 6px;
}

.home-wrapper-converter .tab-switcher {
  margin: 0  0 20px;
}

.home-wrapper-converter .header-wrapper {
  padding-top: 20px;
  position: static;
}

.header-wrapper__scrolled {
  position: fixed;
  top: 0;
  padding-top: 0;
  animation: slide-down-header 0.5s forwards;
  left: 0;
  right: 0;

  .tab-switcher {
    display: none;
  }

  .city-input-container {
    display: none;
  }

  .header-icon-buttons {
    display: none;
  }

  &.home-wrapper-converter {
    position: static;
    padding-top: 20px;
  }
}

.city-travel-info {
  width: 100%;
  padding: 10px 14px;
}

.city-travel-info-top {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.city-travel-info-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 4px 0;
}

.city-travel-info-top__left__title {
  color: #FFF;

  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
  &:first-letter {
    text-transform: uppercase;
  }
}

.city-travel-info-top__left__subtitle {
  color: #FFF;

  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  span {
    margin-right: 8px;
  }
}

.city-travel-info-top__right__title {
  color: #DAF50F;
  text-align: right;
  cursor: pointer;

  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  svg {
    path {
      fill: #DAF50F;
    }
  }
}

.city-travel-info-top__right__subtitle {
  color: #FFF;
  text-align: right;

  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.city-travel-info-bottom-left {
  color: #FFF;

  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.city-travel-info-bottom-right {
  color: #FFF;
  text-align: right;

  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section-type-wrapper {
  margin: 21px;
  border-radius: 10px;
  overflow: hidden;
}