.header-icon-button {
  display: flex;
  padding: 11px 12px;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  border-radius: 10px;
  background: #FFF;

  color: #05291D;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s ease-out;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.header-icon-button-dates {
  flex: 4;
  max-width: 100px;
}

.header-icon-button-dates-selected {
  max-width: max-content;
}

.header-icon-button-profile {
  flex: 2;
  min-width: 115px;
}

.header-icon-button-citizenship {
  flex: 2;
  min-width: 80px;
}

.header-icon-button-citizenship-selected {
  min-width: 60px;
  max-width: 60px;
}

.header-icon-button:hover {
  opacity: 0.9;
}

.header-wrapper {
  padding: 90px 22px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #006659;
  border-radius: 20px;
}

.header-logo {
  margin-bottom: 40px;
}

.header-title {
  color: #FFF;
  font-style: normal;
  font-size: 30px;
  line-height: 36.9px;
  text-align: center;
  margin-bottom: 4px;
}

.header-subtitle {
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header-icon-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  justify-content: space-between;
}

.home-wrapper {
  padding-bottom: 70px;
}

.divider {
  width: 1px;
  height: 16px;
  background: #CDD4DE;
}

.header-icon-buttons-selected-dates {
  display: flex;
  gap: 4px;
  align-items: center;
}

.home-wrapper-is-result {
  background: #EEEFF3;
  .header-wrapper {
    padding: 24px 21px 10px;
  }

  .header-logo {
    width: 56px;
    margin-bottom: 32px;
  }

  .city-input-container {
    margin-top: 0;
  }

  .city-input {
    height: 49px;
    padding: 8px 42px 8px 44px;
  }
}

.city-travel-info {
  width: 100%;
  padding: 10px 14px;
}

.city-travel-info-top {
  display: flex;
  justify-content: space-between;
  padding: 0 4px 10px;
  border-bottom: 1px solid #E1E5EC;
}

.city-travel-info-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 4px 0;
}

.city-travel-info-top__left__title {
  color: #FFF;

  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.city-travel-info-top__left__subtitle {
  color: #FFF;

  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  span {
    margin-right: 8px;
  }
}

.city-travel-info-top__right__title {
  color: #DAF50F;
  text-align: right;

  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.city-travel-info-top__right__subtitle {
  color: #FFF;
  text-align: right;

  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.city-travel-info-bottom-left {
  color: #FFF;

  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.city-travel-info-bottom-right {
  color: #FFF;
  text-align: right;

  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section-type-wrapper {
  margin: 21px;
  border-radius: 10px;
  overflow: hidden;
}