.converter-title {
  color: #FFF;
  text-align: center;

  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

.converter-select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.converter-select {
  padding: 14px 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #FFF;
  gap: 10px;
}

.converter-flag-wrapper {
  width: 35px;
  height: 35px;
  min-width: 35px;
  border-radius: 10px;
  background: #EFF1F4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.converter-country-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  cursor: pointer;
}

.converter-currency-code {
  color: #0C131D;

  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.converter-currency-text {
  color: #9EA9B7;

  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.converter-result-wrapper {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  // todo check
  //direction: rtl;
  span {
    color: #041C14;
    text-align: right;

    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // todo check
    //direction: rtl;
  }
}

.converter-result-wrapper {
  display: flex;
  padding: 1px 9px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.converter-result-wrapper:hover {
  background: rgba(0, 102, 89, 0.15);
}

.converter-select-selected {
  .converter-result-wrapper {
    display: flex;
    padding: 1px 9px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: rgba(0, 102, 89, 0.15);
  }
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 0 auto;
  padding: 15px 0 10px;
  background: #EEEFF3;
  height: calc(100vh - 287px);

  .display {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: right;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;

    button {
      background-color: #FFF;
      border: none;
      padding: 15px;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 85px;
      border-radius: 10px;
      height: calc((100vh - 331px) / 5);
      max-height: 85px;

      color: #041C14;
      text-align: center;

      font-size: 23px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      &:nth-child(4n) {
        background-color: #006659;
        color: #fff;
      }

      &:nth-child(19) {
        background-color: #83F667;
        color: #006659;
      }

      &:nth-child(-n+3) {
        color: #fff;

        border-radius: 10px;
        background: #B7B49D;
      }

      &:last-child {
        grid-column: span 2;
        width: 174px;
        max-width: 174px;
      }
    }
  }
}

.calculator-wrapper {
  background: #EFF1F4;
}

