/* Layout.css */
.layout {
    max-width: 393px;
    height: 852px;
    width: 100%;
    max-height: 100vh;
    margin: 0 auto; /* Для центрирования компонента */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Опционально: тень для визуального отделения */
    border: 1px solid #ddd; /* Опционально: рамка */
    overflow: hidden; /* Чтобы скрыть содержимое, выходящее за границы */
    display: flex;
    flex-direction: column;
}
